@mixin links {
    text-decoration: none;
    margin: 0 1rem;
    color: $letras;

}

@mixin medias {
    .tarj {

        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1rem 0 1rem;

        .tarjetaResponsive {
            margin: 0 5rem 0 5rem;
        }
    }
}

@mixin mediaTablet {
    .tarj {

        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 1rem 0 9rem;

        .tarjetaResponsive {
            margin: 0 10rem 0 2rem;
        }
    }
}